<nb-card>
    <nb-card-body>
        <h1></h1>
        <h1>Hola Mundo Works!</h1><button nbButton outline>Test</button>
        <h1>Hola Mundo Works!</h1><button nbButton status="info">Info</button>
        <button nbButton outline size="small" status="warning">Warning</button>
        <button nbButton hero status="danger">Danger</button>
        <h1>Hola Mundo Works!</h1>
        <h1>Hola Mundo Works!</h1>
        <h1></h1>
        <p>Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque eget erat sit amet enim ultricies semper.
            Sed vitae ex tempus, scelerisque libero ac, ornare velit.
            Aenean consectetur nisl felis, id volutpat nisl ullamcorper sit amet.
            Suspendisse vulputate enim mattis, rhoncus quam ac, pretium enim.
            Proin scelerisque consectetur leo.
            Nullam neque magna, vestibulum a dolor nec, placerat rutrum lacus.
            Donec eu sodales odio. Donec sit amet
            nunc sodales, vulputate turpis at, sodales massa.
            Duis dolor nunc, suscipit vel feugiat ornare, euismod id
            lorem. Curabitur dictum odio eu imperdiet placerat.
            Etiam pellentesque libero ut neque congue, sed bibendum nisi volutpat. </p>


        <h3>This is a test</h3>
        <h5>Test h5</h5>
        <h6>Test h6</h6>
        Hello world!
        <h6>Lorem Ipsum</h6>
        <h6>Lorem Ipsum</h6>
        <h6>Lorem Ipsum</h6>
        <h6>Lorem Ipsum</h6>
        <h6>Lorem Ipsum</h6>
        <h6>Lorem Ipsum</h6>

    </nb-card-body>
</nb-card>